<mgl-map
  [style]="'mapbox://styles/mapbox/light-v9?optimize=true'"
  [zoom]="[9]"
  [center]="[9.59367, 54.651045]"
  [fitBounds]="bounds"
>
  <mgl-control
    mglScale
    unit="metric"
    position="top-right"
  ></mgl-control>

  <!-- Existing Gateways -->
  <mgl-geojson-source
    *ngIf="shIotGW"
    id="IoTGateways-SH"
    [data]="shIotGW"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="shIotGW"
    id="IoTGateways-SH"
    [layout]="layouts.existing"
    type="circle"
    source="IoTGateways-SH"
  >
  </mgl-layer>
  <!-- Circles -->
  <mgl-geojson-source
    *ngIf="large_circlesFC"
    id="IoTGateways-SH-Circles-10km"
    [data]="large_circlesFC"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="large_circlesFC"
    id="IoTGateways-SH-Circles-10km"
    type="fill"
    [layout]="layouts.existing"
    source="IoTGateways-SH-Circles-10km"
    [paint]="{
        'fill-color': '#29AB87',
        'fill-opacity': .25
      }"
  >
  </mgl-layer>
  <mgl-geojson-source
    *ngIf="small_circlesFC"
    id="IoTGateways-SH-Circles-5km"
    [data]="small_circlesFC"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="small_circlesFC"
    id="IoTGateways-SH-Circles-5km"
    type="fill"
    [layout]="layouts.existing"
    source="IoTGateways-SH-Circles-5km"
    [paint]="{
        'fill-color': '#267e5c',
        'fill-opacity': .25
      }"
  >
  </mgl-layer>

  <!-- Planned Gateways Fernmeldetürmen-->
  <mgl-geojson-source
    *ngIf="shIotGWPlannedTower"
    id="Geplante IoTGateways-SH auf Fernmeldetürmen"
    [data]="shIotGWPlannedTower"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="shIotGWPlannedTower"
    id="Geplante IoTGateways-SH auf Fernmeldetürmen"
    type="circle"
    [layout]="layouts.plannedTower"
    source="Geplante IoTGateways-SH auf Fernmeldetürmen"
  >
  </mgl-layer>
  <!-- Circles -->
  <mgl-geojson-source
    *ngIf="large_circles_plannedTowerFC"
    id="Geplante IoTGateways-SH auf Fernmeldetürmen-Circles-10km"
    [data]="large_circles_plannedTowerFC"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="large_circles_plannedTowerFC"
    id="Geplante IoTGateways-SH auf Fernmeldetürmen-Circles-10km"
    type="fill"
    [layout]="layouts.plannedTower"
    source="Geplante IoTGateways-SH auf Fernmeldetürmen-Circles-10km"
    [paint]="{
        'fill-color': '#3955ec',
        'fill-opacity': .25
      }"
  >
  </mgl-layer>
  <mgl-geojson-source
    *ngIf="small_circles_plannedTowerFC"
    id="Geplante IoTGateways-SH auf Fernmeldetürmen-Circles-5km"
    [data]="small_circles_plannedTowerFC"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="small_circles_plannedTowerFC"
    id="Geplante IoTGateways-SH auf Fernmeldetürmen-Circles-5km"
    type="fill"
    [layout]="layouts.plannedTower"
    source="Geplante IoTGateways-SH auf Fernmeldetürmen-Circles-5km"
    [paint]="{
        'fill-color': '#2a3f97',
        'fill-opacity': .25
      }"
  >
  </mgl-layer>


  <!-- Planned Gateways-->
  <mgl-geojson-source
    *ngIf="shIotGWPlanned"
    id="Geplante IoTGateways-SH"
    [data]="shIotGWPlanned"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="shIotGWPlanned"
    id="Geplante IoTGateways-SH"
    type="circle"
    [layout]="layouts.planned"
    source="Geplante IoTGateways-SH"
  >
  </mgl-layer>
  <!-- Circles -->
  <mgl-geojson-source
    *ngIf="large_circles_plannedFC"
    id="Geplante IoTGateways-SH-Circles-10km"
    [data]="large_circles_plannedFC"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="large_circles_plannedFC"
    id="Geplante IoTGateways-S-Circles-10km"
    type="fill"
    [layout]="layouts.planned"
    source="Geplante IoTGateways-SH-Circles-10km"
    [paint]="{
        'fill-color': '#974f54',
        'fill-opacity': .25
      }"
  >
  </mgl-layer>
  <mgl-geojson-source
    *ngIf="small_circles_plannedFC"
    id="Geplante IoTGateways-SH-Circles-5km"
    [data]="small_circles_plannedFC"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="small_circles_plannedFC"
    id="Geplante IoTGateways-SH-Circles-5km"
    type="fill"
    [layout]="layouts.planned"
    source="Geplante IoTGateways-SH-Circles-5km"
    [paint]="{
        'fill-color': '#973c46',
        'fill-opacity': .25
      }"
  >
  </mgl-layer>


  <!-- Grid -->
  <mgl-geojson-source
    *ngIf="squareGridFC"
    id="Grid-10km"
    [data]="squareGridFC"
  >
  </mgl-geojson-source>
  <mgl-layer
    *ngIf="squareGridFC"
    id="Grid-10km"
    type="fill"
    source="Grid-10km"
    [layout]="layouts.grid"
    [paint]="{
        'fill-color': '#bbb935',
        'fill-opacity': .15
      }"
  >
  </mgl-layer>
</mgl-map>
