<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar
    [(opened)]="_opened"
    [closeOnClickOutside]="true"
    [sidebarClass]="'map-sidebar'"
    mode="slide"
  >
    <h2>Abdeckungskarte LoRaWan IoT</h2>
    <h3>Layer</h3>
    <button (click)="toggleLayerF('existing')">IoTGateways-SH</button><br>
    <button (click)="toggleLayerF('plannedTower')">Geplante IoTGateways-SH auf Fernmeldetürmen</button><br>
    <button (click)="toggleLayerF('planned')">Geplante IoTGateways-SH</button><br>
    <button (click)="toggleLayerF('grid')">Grid-10km</button>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <button (click)="_toggleSidebar()" class="sidebar_toggle" >Toggle sidebar</button>
    <app-map [toggleLayer]="toggleLayer"></app-map>
  </div>

</ng-sidebar-container>

