ng-sidebar-container {
  height: 100vh;
}

app-map {
  z-index: 0;
}

.sidebar_toggle {
  z-index: 10000;
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: 0.15rem solid black;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  font-size: 0;
  height: 1.5rem;
  margin-right: 1rem;
  width: 2rem;
}

.sidebar_toggle::after {
  background: black;
  content: '';
  height: 0.15rem;
  left: 0;
  margin-top: -0.075rem;
  position: absolute;
  top: 50%;
  width: 100%;
}
