/* You can add global styles to this file, and also import other style files */
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";
body {
  margin: 0;
}

.map-sidebar {
  background-color: #fff;
  padding: 2em 1em;
  width: 20vw;
}

/*.map-sidebar .ng-sidebar--opened.ng-sidebar--over {
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}*/
